.block-filter {
  margin: 0 0 15px;

  @include media-min($md) {
    text-align: left;
    position: relative;
    z-index: 1;
  }

  .form-control {
    font-size: 16px;
    padding: 10px 20px;
    height: 48px;
    line-height: 1.2;
    border-radius: $border-radius-sm;
    background-color: #ffff;
    border: 1px solid #e2e2e2;
    width: calc(100% - 58px);
    margin-right: 10px;
    display: inline-block;
  }

  select.form-control {
    background-position: 99% 13px;
  }

  .group {
    @include media-min($md) {
      margin-right: -220px;
      display: inline-block;
      margin-left: 15px;
      width: 320px;
    }

    @include media-min($lg) {
      margin-left: 0;
    }

    @include media-min($xl) {
      width: 420px;
      margin-right: -420px;
    }

    .btn {
      min-width: 0;
      height: 48px;
      padding: 13px;
      width: 48px;
      margin: 0;

      .ico {
        font-size: 24px;
        top: -1px;
        right: 5px;
      }
    }
  }

  .block-export {
    text-align: left;
    @include media-min($lg) {
      margin-right: 20px;
    }
  }

  &.filtered {
    .form-control {
      width: calc(100% - 155px);
    }

    .group .btn {
      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

.block-filter-label {
  font-size: 16px;
  display: inline-block;
  width: auto;
  min-width: auto;
  margin-right: 15px;
  padding: 10px 0 0;

  &.form-label.col {
    padding: 6px 0;
  }
}

.block-filter .block-export {
  display: inline-block;
}

.group {
  @include media-min($lg) {
    margin-right: -200px;
    display: inline-block;
    width: 245px;
  }

  @include media-min($xl) {
    margin-right: -300px;
    width: 340px;
  }

  @include media-min($xxl) {
    width: 600px;
  }
}

.block-filters {
  @include media-min($md) {
    text-align: right;
  }

  @include media-min($lg) {
    padding: 0;
  }

  .dropdown-toggle {
    border-radius: $border-radius-sm;
    background: #fee589;
    border: 1px solid #e9b91f;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    min-width: 150px;

    &:after {
      position: relative;
      right: -10px;
      font-size: 20px;
      display: inline-block;
      top: 3px;
    }

    &:hover {
      color: $text-color;
    }
  }

  .dropdown-menu {
    border: 1px solid #e2e2e2;
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    top: -13px !important;
    padding: 0;
    z-index: 2;
    min-width: 100%;
    left: 0px !important;
    margin: 0px !important;
    right: auto !important;
    bottom: auto !important;
    transform: translate3d(0px, 56.5px, 0px) !important;

    .dropdown-item {
      background: none;
      padding: 10px 10px;
      text-align: center;
      border-bottom: 1px solid #e2e2e2;
      color: $text-color;

      &:last-child {
        border-bottom: 0;

        &:hover {
          border-radius: 0 0 $border-radius-sm $border-radius-sm;
        }
      }

      &:hover {
        background: #f2f2f2;
      }
    }
  }

  .dropdown {
    &.show {
      .dropdown-toggle {
        border-radius: $border-radius-sm $border-radius-sm 0 0;
      }
    }
  }

  .selected-items {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 15px 0;

    @include media-min($lg) {
      display: none;
    }
  }
}

.block-export {
  margin: 0 0 5px;
  display: inline-block;
}
