@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import 'libs/clearfix';
@import 'libs/breakpoints';
@import 'libs/utils';

@import 'sources/variables';
@import 'sources/theme';

@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
// @import "~bootstrap/scss/button-group";
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';

@import 'sources/fonts';
@import 'sources/icons';

// Override bootstrap
@import 'bootstrap/forms';
@import 'bootstrap/buttons';
@import 'bootstrap/button-group';

@import 'sources/toast';
@import 'sources/menu';
@import 'sources/topmenu';
@import 'sources/typography';
@import 'sources/page-title';
// @import 'sources/buttons';
@import 'sources/form';
@import 'sources/form-custom';
@import 'sources/table';
@import 'sources/filter';
@import 'sources/message';
@import 'sources/toolbar';
@import 'sources/paging';
@import 'sources/modal';
