$main-wp-background: $white;

body {
  @include background-gradient(
    '90deg',
    $op-background-start,
    $op-background-end
  );
  min-height: 100vh;
  font-size: $font-size-sm;
  line-height: 1.46;
}

.wrapper {
  min-height: 100vh;
  background: url(#{$bkg-overlap-url}) center center fixed no-repeat;
  padding: $indent-base;
  @include middleContent();

  @include media-min($md) {
    padding: $indent-md;
  }
}

.one-page {
  .main {
    border-radius: $border-radius-lg;
    padding: $indent-base;
    box-shadow: $box-main-shadow;
    background: $op-main-bkg url(#{$op-main-bkg-url}) $indent-base 130px
      no-repeat;
    background-size: $op-bkg-size;
    width: 100%;

    @include media-min($sm) {
      padding: $indent-sm;
      background-position: 20px 150px;
    }

    @include media-min($md) {
      padding: $indent-md;
      background-size: $op-bkg-sise-md;
      background-position: 0 104%;
      min-height: $op-main-min-height-xl;

      @include clearfix();
    }

    @include media-min($lg) {
      max-width: $max-wdith;
      margin: 0 auto;
    }
  }

  .header {
    text-align: right;
    margin: $op-logo-margin;

    @include media-min($md) {
      position: relative;
    }
  }

  .header-title {
    display: block;
    width: 100%;
    text-align: center;
    clear: left;
    font-size: $font-size-lg;
    font-weight: 600;
    padding: 25px 0;

    @include media-min($md) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 7px 165px;
    }
  }

  .logo {
    width: $op-logo-width;
    float: left;
    position: relative;
    z-index: 1;

    @include media-min($sm) {
      width: $op-logo-width-sm;
    }
  }
}

.no-bkg {
  .main {
    background: $op-nobkg-background;
    min-height: $op-nobkg-min-height;
  }
}

.no-route {
  padding: $indent-lg 0 0;
}

.page-wrapper {
  background: $main-wp-background;
  min-height: 100vh;
  padding-bottom: 40px;

  .main {
    display: block;
    width: 100%;

    @include media-min($lg) {
      display: inline-block;
      width: calc(100% - #{$sidebar-width-lg});
      padding: 0 30px;
    }

    // @include media-min($xl) {
    //   width: calc(100% - #{$sidebar-width-xl});
    //   padding: 0 50px;
    // }

    .alert {
      &.messages {
        margin: 0 15px 30px;
        padding: 10px 30px 10px 20px;

        @include media-min($lg) {
          margin: 0 0 30px;
        }
      }
    }
  }
}

.page-loading {
  position: fixed;
  width: 100%;
  height: 100%;

  &:after {
    position: absolute;
    content: $icon-update;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: 40px;
    font-family: $font-icon-family;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.image-summary{
  vertical-align: top;
  display: inline-block;
  text-align: center;
  border: solid 1px #000000 !important;
  height: 150px;
  width: 200px;
  padding: 0 !important;
  border-radius: 10%;
  overflow: hidden;
  margin: 20px 0 20px 20px;
  .document-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
  }
  img{
    width: 200px;
    max-height: 100px;
  }
  .caption {
    display: block;
  }
}
